.projects {
  padding: 30px 0;
}

.projects__title {
  text-align: center;
}

.projects__list {
  display: flex;
  flex-direction: column;
}

.project {
  position: relative;
  margin: 20px 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.project__title {
  color: var(--text-primary);
}

.project__links {
  width: 100%;
  text-align: center;
  padding: 14px 0;
}

.project__program-language{
  font-size: 18px;
  font-weight: 500;
}

.javascript{
  color: #dfdf44;
}
.react{
  color: #58c4dc;
}
.angular{
  color: #a50d0df8;
}

.MuiTooltip-tooltip{
  font-size: 14px!important;
  text-align: center;
}

.project__links .project__link {
  margin: 0 10px;
}

.project__link {
  padding: 5px;
  border: 0px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: var(--link-primary);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  font-weight: bold!important;
}

.project__link:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px var(--link-primary);
}

.project__about {
  width: 90%;
  height: auto;
  text-align: center;
}

.project__image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  -moz-border-radius: 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.project__text {
  color: var(--text-primary);
}

@media only screen and (min-width: 768px) {
  .projects__list {
    flex-direction: row;
    flex-wrap: wrap;
  justify-content: center;
    padding: 30px;
    gap: 10px;
  }

  .project {
    justify-content: space-between;
    width: 46%;
    height: 600px;
  }

  .project__about {
    width: 100%;
  }

  .project__link {
    margin: 0 5px;
  }

  .project__text {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .project {
    height: 520px;
    width: 30%;
  }
}
