.education {
  padding: 0 10px;
}

.education__level {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education__title {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faculty {
  margin: 10px 0;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 8px;
  border: #434d5b;
  color: var(--text-primary);
  box-shadow: var(--box-shadow);
}

.faculty:focus {
  border-color: var(--text-primary);
}

.faculty:focus-visible {
  outline: 0;
}

.faculty-name {
  margin: 0;
  padding: 10px 10px 0 10px;
  text-align: center;
  font-size: 18px;
}

.faculty__logo {
  padding-top: 10px;
}


.faculty__logo .MuiLink-root{
  display: inline-block;
  height: auto;
}

.faculty__logo .icon {
  width: 200px;
  height: auto;
  padding: 0 10px;
  perspective: 100px;
}

.icon {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.icon .MuiLink-root{
  display: block;
  height: auto;
}

.icon:hover {
  transform: rotateY(360deg);
}

.date {
  text-align: center;
}

.degree {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.degree svg {
  font-size: 20px;
}

.degree__name {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .flex{
    flex-direction: row;
  }
  .faculty-name {
    padding: 10px 10px 0 0;
  }
}
