.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.contact__form {
  width: 100%;
  text-align: center;
}

.contact__form-group {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
  height: auto;
}

.contact__form-group label {
  margin: 10px;
}

.input-field {
  width: 80%;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;
  border: #434d5b;
  color: #1c2025;
  box-shadow: var(--box-shadow);
}

.input-field:focus {
  border-color: var(--text-primary);
}

.input-field:focus-visible {
  outline: 0;
}

.textarea-field {
  width: 80%;
  height: 200px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;
  color: #1c2025;
  border: #434d5b;
  box-shadow: var(--box-shadow);
}

.textarea-field:focus {
  border-color: var(--text-primary);
}

.textarea-field:focus-visible {
  outline: 0;
}

.contact__input-text--error{
  margin-bottom: 0;
  color: #ff0000;
}

.contact__button {
  padding: 10px;
  border: 0px solid;
  box-shadow: inset 0 0 20px var(--box-shadow);
  outline: 1px solid;
  color: var(--link-primary);
  background-color: var(--background-primary);
  outline-color: var(--link-primary);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  font-weight: bold;
}

.contact__button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px var(--box-shadow);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px var(--link-primary);
}

@media only screen and (min-width: 768px) {
  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__form-group{
    width: 500px;
    align-items: baseline;
  }


}
