.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.contact__form {
  width: 100%;
  text-align: center;
}

.contact__form-group {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
  height: auto;
}

.contact__form-group label {
  margin: 10px;
}

.contact__input {
  width: 80%;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;
  border: #434d5b;
  color: #1c2025;
  box-shadow: var(--box-shadow);
}

.contact__input:focus {
  border-color: var(--text-primary);
}

.contact__input:focus-visible {
  outline: 0;
}

.contact__textarea {
  width: 80%;
  height: 200px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;
  color: #1c2025;
  border: #434d5b;
  box-shadow: var(--box-shadow);
}

.textarea-field:focus {
  border-color: var(--text-primary);
}

.textarea-field:focus-visible {
  outline: 0;
}

.contact__text-error{
  margin-bottom: 0;
  color: #ff0000;
}

.contact__label{
  font-size: 14px;
  color: var(--text-primary);
}

.contact__button {
  cursor: pointer;
  padding: 12px 28px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(90deg, #4f46e5, #2563eb);
  box-shadow: 0 0 15px rgba(79, 70, 229, 0.6);
  transition: all 0.4s ease;
}

.contact__button:hover {
  transform: scale(1.05);
}

@media only screen and (min-width: 768px) {
  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__form-group{
    width: 500px;
    align-items: baseline;
  }


}
