.header {
  position: relative;
  padding: 10px 5px;
  z-index: 1000;
  box-shadow: var(--box-shadow);
  background-color: var(--background-primary);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.header__toggle {
  display: block;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--text-primary);
  background: transparent;
  border: none;
}

.header__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  background-color: var(--header-background);
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
}

.header__navigation--open {
  transform: scaleY(1);
  border-bottom: 1px solid var(--background-secondary);
  border-top: 1px solid var(--header-border);
  /* box-shadow: var(--box-shadow); */
}

.header__navigation-link {
  position: relative;
  margin: 8px 0;
  text-decoration: none;
  color: inherit;
}

.header__navigation-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}

.header__navigation-link:hover::after {
  width: 100%;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__button {
  border: none;
  cursor: pointer;
  background: var(--button-background);
  box-shadow: 0 0 30px rgba(79, 70, 229, 0.4);
}

.header__button:hover {
  box-shadow: var(--box-shadow);
  border-radius: 50px;
}

.button-icon {
  width: 20px;
  height: 20px;
  background: #fff;
    border-radius: 50px;
}

@media (min-width: 768px) {
  .header__toggle {
    display: none;
  }

  .header__navigation {
    position: static;
    flex-direction: row;
    transform: none;
  }

  .header__navigation-link {
    margin: 2px 15px !important;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 15px 30px;
  }

  .header__navigation-link {
    margin: 0 20px;
    font-size: 1rem;
  }
}
