* ::after,::before{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none!important;
  color: var(--text-primary)!important;
  cursor: pointer;
}

h2 {
  margin: 5px 20px;
  color: var(--text-primary);
}

:root {
  --background-primary: linear-gradient(to right, #ffffff, #929292);
  --header-background: #ffffff;
  --project-background: #fff;
  --text-primary: #000000;
  --text-secondeay: #ffffff;
  --box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 1.0625em,
  rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
  rgba(255, 255, 255, 0.1) 0px 0px 0px 0px inset;
  --link-primary: #000000;
  --link-primaty__hover: #ffffff;
  --btn-primary: #000000;
  --btn-category: #000;
}
[data-theme='dark'] {
  --background-primary: linear-gradient(to right,#535353, #000000);
  --header-background: #535353;
  --project-background: linear-gradient(to right,#535353, #000000);
  --text-primary: #ffffff;
  --text-secondeay: #000000;
  --box-shadow: rgba(255, 255, 255, 0.84) 0px 0.0625em 1.0625em,
  rgba(244, 241, 241, 0.849) 0px 0.125em 0.5em,
  rgba(236, 233, 233, 0.821) 0px 0px 0px 0px inset;
  --link-primary: #ffffff;
  --link-primaty__hover: #000000;
  --btn-primary: #ffffff;
  --btn-category: #fff;
}